@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 550px;
    border: 10px ridge #FFAFCC;
    border-radius: 21px;
    overflow: hidden;
    background: #BDE0FE;
}
.name {
    font-size: 37px;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 10%;
    justify-content: center;
}
.display {
    border: 3px solid #56a7f3;
    font-size: 30px;
    display: flex;
    align-items: center;
    border-radius: 25px 25px 0px 0px;
    padding: 3px 10px;
    justify-content: end;
    background: #FFAFCC;
    height: 13%;
}
.row {
    display: flex;
    height: 16%;
}
.row button {
    font-size: 30px;
    width: 20%;
    background: #FFAFCC;
    flex: auto;
    border: 3px solid #56a7f3;
    border-radius: 25px;
    margin: 6px;
}
.row button:hover {
    box-shadow: 3px 8px 14px #56a7f3;
}
#equals {
    flex: 40% 1 1;
    background: #CAFFBF;
}
.row button:nth-of-type(4n) {
    background: #CAFFBF;
}